<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Demo application" />
        <title>Demo application</title>
    </head>
    <body>
        {{template "content" .}}

        {{if eq .Environment "development"}}
        <script>
            const ws = new WebSocket("ws://" + location.host + "/ws");
            ws.onmessage = function(event) {
                console.log("Message from server: ", event.data);
                if (event.data === "reload") {
                    location.reload();
                }
            };
        </script>
        {{end}}
    </body>
</html>
